.navbar {
  background: #eee;
  padding: 12px 20px;
  display: flex;
  gap: 20px;

  a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;

    &.active {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
